:root {
	--theme-color:#003b75;
	--text-color:black;
	--theme-color2: #fc0352;
	--blank: #e6f2ff;
	--highlight: yellow;
	--secondary-th: #8c1aff;
}

html,body {
	height:100%;
	margin:0;
	padding:0;
	position:relative;
}

div.main-container {
	position:absolute;
	min-height: 100%;
	top:0px;
	width: 100%;
	margin:0;
	padding:0;
	background-image: linear-gradient(var(--theme-color),rgba(255,255,255,1));
}

.t-white, a.navbar-brand, .t-link {
	color:white;
}

.text-back {
	background-color: var(--text-color);
}

.theme-color, a.text-theme:hover {
	color:var(--theme-color);
}

.theme-link {
	color:var(--secondary-th);
}

.b-link, .text-theme, .theme-link:hover{
	color:var(--text-color);
}

.b-link:hover {
	color:var(--blank);
}

.t-link:hover{
	color:#b3d9ff;
}

.blank, .theme, .bar-theme, .alt-btn, .card-body{
	background-color: var(--blank);
	color: var(--text-color);
}

.alt-btn:hover, .btn-theme:hover{
	background-color: var(--text-color);
	color:var(--blank)
}

.btn-theme {
	background-color:var(--theme-color);
	color:white;
}

div.scope {
	width:80vw;
	margin: 5vh 10vw 5vh 10vw;
	padding-bottom: 50px;
}

#mapid {
	height:80vh;
}

a:hover {
	text-decoration: none;
}

/*-------NAVBAR/DROPDOWN----------*/

nav.navbar {
	min-height:50px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color:#e6f2ff;
		--blank:black;
		--highlight:#4d4dff;
	}
	body {
		background-color:var(--blank);
		color:var(--text-color);
	}

	div.main-container {
		background-image: linear-gradient(var(--theme-color),rgba(0,0,0,1));
	}

	.info {
		border:none;
		border-radius:50%;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		padding: 1px 5px;
	}

}

/*--SEARCH------*/
 /*in the search place*/
.title {
	font-size: 20px;
}

div.col input.form-control {
	border-radius: 15px 0 0 15px;
}

div.search-b button {
	border-radius: 0 15px 15px 0;
}

/*-------COUROSELITEM----------*/

a.car-item:hover {
	background-color:grey;
	opacity:.2;
}

/*------ABOUT------*/

.ab-f {
	font-size: 30px;
	padding: 0;
	margin:0 auto;

}

/*-----------------*/

/* As related to games specifically*/

.game_d {
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

/*-------- ID ---------*/

#a {
	font-size: 25vw;
}

div#prompt {
	display:inline-block;
	width:100%;
}

#prompt p{
	display: inline;
}

/*--------SMALL SCREEN---------*/

@media screen and (max-width: 768px) {
	div.scope {
		width:98vw;
		margin: 2vh 1vw 0 1vw;
		padding-bottom: 50px;
	}
	/*as related to games 
	*/
	#choices button {
		width:100%;
	}
}

@media screen and (max-width: 992px) {

	nav.navbar {
		padding:0;
	}
	
	.dropdown-menu a.active {
		background-color: var(--theme-color);
		filter: hue-rotate(15deg) brightness(110%);

	}

	li.nav-item a.nav-link {
		padding:10px;
	}

	a.nav-link:hover {
		background-color:var(--theme-color);
		border-radius: 5px;
	}

	li.nav-item a.nav-link:hover {
		background-color: var(--theme-color);
	}

	.navbar-brand {
		padding:10px;
	}

	button.navbar-toggler {
		margin-right:10px;
	}

	.search {
		margin:10px;
	}

}
/*-------BIG SCREEN----------*/
@media screen and (min-width: 992px) {

	.dropdown-menu a.nav-link {
		margin-bottom: 7%;
		background-color: var(--blank);
		color:var(--text-color);
	}

	.dropdown-menu a.nav-link.active {
		background-color: var(--theme-color);
		filter: hue-rotate(15deg) brightness(110%);
	}

	.dropdown-menu a.nav-link.active:hover {
		filter:hue-rotate(0deg) brightness(100%);
	}

	.dropdown-menu a.nav-link:hover {
		background-color: var(--theme-color);
	}
}

/*--------FOOTER---------*/

div.footer footer {
	margin-bottom: 0;
	position: absolute;
	bottom:0;
	height:36px;
	width:100vw;
	display:flex;
	justify-content: space-between;
	border-top:2px black solid;
}

footer a:visited {
	color:white;
}

.highlight {
	background-color: var(--highlight);
}

footer a:hover {
	filter:blur(1px);
}

footer a {
	background-color: black;
	text-align: center;
	height:100%;
	width:25%;
}
/*--------PROJECTS AND POSTS ---------*/

.card {
	border-color:var(--theme-color);
	background-color: transparent;
}

.card-header {
	background-color: var(--theme-color);
	border-style: none;
}

.pop-project {
	margin-top:5px;
}

.popover-header {
	background-color: var(--theme-color);
	color:var(--text-color);
}

.popover-body {
	background-color: var(--blank);
	color:var(--text-color);
}

.pop-projects {
	margin: auto 10px 0 4px;
}

.info {
	border:none;
	border-radius:50%;
	background-color: var(--text-color);
	font-size: 12px;
	font-weight: bold;
	color:var(--blank);
	padding: 0px 6px;
}

.popover {
	font-size: 11px;
}