:root {
	--theme-color:#0073e6;
	--theme-color2: #00e673;
	--theme-color3: #e60000;
	--theme-color4: #e6ac00;
	--blank: #e6f2ff;
	--highlight: yellow;
	--text-color: black;
	--off:#cfd9e5;
	--off2:#323232;
}

html,body {
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	background-color: var(--blank);
}

.flags-top, .flags-middle, .map-top, .map-middle {
	margin-bottom: -15%;
}

.flags-bottom, .map-bottom {
	margin-bottom:15%;
}

p.game-p {
	height:20%;
}

div.map-top {
	z-index:0;
}

.map-svg {
	margin-top:-10%;
	z-index:1;
	width: 95%;
}

div.map-middle {
	z-index: auto;
	background-color: var(--theme-color);
	transform: skewY(-15deg);
}

div.flags-middle {
	z-index: 0;
	background-color: var(--theme-color);
	transform: skewY(15deg);
}

.flags-top div {
	z-index: 1;
}


.svg-animation {
	animation: messageslidein 2s;
}

.message {
	animation: messageslidein 4s;
}

@keyframes slidein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes messageslidein {
	from {
		transform: translateY(-50%);
		opacity: 0;
	} to {
		opacity: 1;
		transform: translateY(0%);
	}
}

#visual path {
	fill: var(--theme-color);
}

.card-body.back-dark {
	margin-top: -1%;
	background-color: #001220;
	color: white;
	width:100%;

}

svg#visial2, svg#visual {
	width:100%;
	position: relative;
}

.svg-2 svg {
	transform: scaleY(-1);
	transform: rotate(180deg);
	width:100%;
}

.card-body.index-text {
	border-radius: 0;
	margin-top:-2%;
	width:100%;
}

div.main-container {
	position:absolute;
	min-height: 100%;
	top:0;
	width: 100%;
	margin:0;
	padding:0;
}

nav {
	border-bottom: var(--blank) 1px solid;
}
.jumbotron {
	border: var(--blank) 1px solid;
}

.circle1 {
	fill: var(--theme-color);
}

.circle2 {
	fill: var(--blank);
}

div.scope {
	margin: 5vh 10vw 5vh 10vw;
	padding-bottom: 50px;
}

a {
	color:var(--theme-color4);
}

a:hover, .btn-off:hover {
	color:var(--theme-color2);
	text-decoration: none;
}

/*
	background-image: linear-gradient(165deg, var(--theme-color) 0%, transparent 71%, var(--blank) 85%);

	linear-gradient(to bottom right, var(--theme-color),rgba(255,255,255,1));*/

/*Experimental*/
input.form-control.blank.jumbotron::-moz-placeholder {/* Firefox 19+ */
	font-size: 300%;
}

.bg-off, .intro {
	background-color: var(--off);
}

button.dropdown-item {
	color:var(--text-color);
}

button.dropdown-item:hover {
	background-color: var(--off2);
	color:var(--blank);
}

/* BUTTON THEME 1*/

.btn-1,.btn-blank:hover{
	background-color:var(--theme-color);
	color:white;
}
@media (hover: hover) {
	.btn-1:hover {
		background-color: var(--off);
		color:var(--text-color);
	}
}
/* THEME COLOR 2 */
.theme-color2 {
	background-color: var(--theme-color2);
}

/* WHITE COLOR*/
.t-white, a.navbar-brand, .t-link, .ab-f,.navbar-dark .navbar-nav .show > .nav-link.active {
	color:white;
}
.t-link:hover {
	color:#b3d9ff;
}

/*TEXT COLOR BG*/
.b-white, .text-back, .bg-off a:link {
	background-color: var(--text-color);
}

/* SECONDARY THEME COLOR*/
.theme-link, .abt-link {
	color:var(--theme-color4);
}

/* TEXT COLOR */
.b-link, .text-theme, .theme-link:hover, .abt-link:hover {
	color:var(--text-color);
}

.theme-color, a.text-theme:hover {
	color:var(--theme-color);
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show > .nav-link {
	color:rgba(255,255,255,.7);
}
/* B-LINK HOVER -> BLANK */
.b-link:hover {
	color:var(--blank);
}

.blank, .theme, .bar-theme, .alt-btn, .btn-off:hover, .btn-blank, .blank:focus {
	background-color: var(--blank);
	color: var(--text-color);
}

.alt-btn:hover, .btn-theme:hover{
	background-color: var(--off);
	color:var(--text-color);
}

.btn-theme:active {
	background-color: var(--theme-color);
}

/* MAP HEIGH*/
#mapid {
	min-height:70vh;
}
/*-------NAVBAR/DROPDOWN----------*/

nav.navbar {
	background-color: var(--theme-color);	
	min-height:50px;
}

/*-------------------DARK MODE------------------*/

@media (prefers-color-scheme: dark) {
	:root {
		--text-color:#e6f2ff;
		--blank:black;
		--highlight:#4d4dff;
		--off:#323232;
		--off2:#cfd9e5;
	}

	body {
		color:var(--text-color);
	}

	.form-control, .form-control:focus {
		color:#dbd7d7;
		background-color: #222;
	}
}

/*--------------SEARCH------*/
.title {
	font-size: 20px;
}

div.col input.form-control {
	border-radius: 15px 0 0 15px;
	border-color: var(--blank);
}

div.search-b button {
	border-radius: 0 15px 15px 0;
	border-color:var(--blank);
}

/*-------COUROSELITEM----------*/

a.car-item:hover {
	background-color:grey;
	opacity:.2;
}

/* As related to games specifically*/

.game_d {
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

div#canvas {
	height:90%;
}
/*-------- ID ---------*/

div#a {
	font-family: Segoe UI Emoji;
	margin:auto;
	width: 50%;
	overflow: hidden;
}

div#prompt p {
	margin:auto 5px;
}

div#prompt {
	margin:0;
	padding: 10px;
	width:100%;
}

/*--------SMALL SCREEN HORIZONTAL---------*/


@media screen and (max-width: 768px) and (min-height: 768px) {
	div#canvas {
		height:75vw;
	}
	
	div#a {
		font-size: 25vw;
		font-family: Segoe UI Emoji;
		margin:auto;
		width: 75%;
	}
}

@media screen and (max-width: 768px) {
	div.scope {
		width:98vw;
		margin: 2vh 1vw 0 1vw;
		padding-bottom: 50px;
	}
	#mapid {
		min-height:50vh;
	}
	
}

@media screen and (max-width: 992px) {

	nav.navbar {
		padding:0;
	}
	
	.dropdown-menu a.active {
		background-color: var(--theme-color);
		color:white;
	}

	li.nav-item a.nav-link {
		padding:10px;
	}

	a.nav-link:hover {
		background-color:var(--theme-color);
	}

	li.nav-item a.nav-link:hover {
		background-color: var(--theme-color);
	}

	.navbar-brand {
		padding:10px;
	}

	button.navbar-toggler {
		margin-right:10px;
	}

	.search {
		margin:10px;
	}
	.foot {
		font-size: 20px;
	}

}
/*-------BIG SCREEN----------*/
@media screen and (min-width: 992px) {

	.dropdown-menu a.nav-link {
		margin-bottom: 7%;
		background-color: var(--theme-color);
	}

	.dropdown-menu a.nav-link.active {
		color: var(--theme-color2);
	}
/*
	.dropdown-menu a.nav-link.active:hover {
		filter:hue-rotate(0deg) brightness(100%);
	}
*/
	.dropdown-menu a.nav-link:hover {
		background-color: var(--off);
	}
	.foot {
		font-size: 30px;
	}
}

/*--------FOOTER---------*/

div.footer footer {
	margin-bottom: 0;
	position: absolute;
	left:0;
	bottom:0;
	height:50px;
	width:100vw;
	display:flex;
	justify-content: space-between;
	border:2px black solid;
}

.foot {
	vertical-align:middle;
}

footer a:visited {
	color:white;
}

.highlight {
	background-color: var(--highlight);
	color:var(--text-color);
}

footer a:hover {
	filter:blur(1px);
}

footer a {
	background-color: black;
	text-align: center;
	height:100%;
	width:25%;
}
/*--------PROJECTS AND POSTS ---------*/

div.project-border {
	padding:1%;
	border: 2px dashed var(--theme-color);
	border-radius: 5px;
}

.card {
	border: var(--blank) 1px solid;
	border-radius: 5px;
	background-color: transparent;
}

.card-header {
	background-color: var(--theme-color);
	border-radius: 4px;
	color:white;
}

.card-body {
	background-color: var(--off);
	border-radius: 0 0 4px 4px;
	color: var(--text-color);
}

.pop-project {
	margin-top:5px;
}

.popover-header {
	border-radius: 3px 3px 0 0;
	background-color: var(--theme-color);
	color:var(--text-color);
}

.popover-body {
	font-size: 11px;
	background-color: var(--blank);
	color:var(--text-color);
	border-radius: 0 0 3px 3px;
}

.popover-header:empty + div.popover-body { 
	border-radius: 3px;
}

.pop-projects {
	margin: auto 10px 0 4px;
}

/*------ABOUT------*/
.ab-f {
	font-size: 30px;
	padding: 0;
	margin:0 auto;
}
/*-----------------*/

/*--------------------ABOUT COLOR SQUARES -----------------*/
.colors {
	display: flex;
	width:100%;
	justify-content: space-around;
	padding-bottom: 5%;
}
.square-1, .square-2, .square-3, .square-4 {
	border: var(--blank) 1px solid;
	display:inline-block;
	height: 10vw;
	width: 10vw;
}

.square-1, .c-1, .ab-f, .btn-off {
	background-color: var(--theme-color);
	color:white;
}

.square-2, .c-2 {
	background-color: var(--theme-color4);
}
.square-3, .c-3 {
	background-color: var(--theme-color2);	
}
.square-4, .c-4 {
	background-color: var(--theme-color3)
}
/*-----------------------------------------------------------*/
