html,body {
	height:100%;
	margin:0;
	padding:0;
} 
.container {
	position: relative;
	min-height: 100%
}

.content {
	position: relative;
	min-height: 100%;
}
.scope {
	position: relative;
	min-height: 100%;
}
footer a:link {
	color: white;
}

footer a:visited {
	color:white;
}

footer a:hover {
	background-color: black;
}
footer a:active {
	color:blue;
}

footer a {
	text-align: center;
	padding: 1vh;
	width:100%;
}

.light-g {
	background-color:#e6e6e6;
}

.jumbotron {
	border:black 1px solid;
}

footer {
	width:100%;
	display:flex;
	justify-content: space-between;
	background-color: #696969;
	border-top:2px black solid;
}

.project {
	margin:1% 1%;
}

.pop-project {
	margin-top:2%;
}

.pop-projects {
	margin: 80% -30%;
}

.info {
	background-color: black;
	border-radius: 50%;
	font-size: 11px;
	width:13px;
	text-align: center;
	color:white;
}

.popover {
	font-size: 11px;
}