{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block header %}
	<div class="jumbotron bg-danger">
		<div class="display-4">
			<p>Edit Game: {{ game }}</p>
		</div>
	</div>
{% endblock %}

{% block content%}
	<form action="{% url 'edit_game' game.path %}" enctype="multipart/form-data" method='post' oninput="char_count()">
    	    {% csrf_token %}
    	    {% bootstrap_form form %}
    	   	<div class="d-inline">
				<button name="submit" class="btn btn-dark mr-auto mt-3">save changes</button>
    			<div id="counter" class="float-right">
    			</div>
    		</div>
    </form>
    <script type="text/javascript" src="/static/main/base.js"></script>
{% endblock%}

