{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block header %}
{% if game.js %}
<head>
	<script type="text/javascript" src="/{{game.js}}"></script>
</head>
{% endif %}
	<div class="start jumbotron bg-danger">
		<div class="display-4">
			<p>{{ game }}</p>
			{% if user.is_authenticated %}
				<a class="btn btn-dark" href="{% url 'edit_game' game.path %}">edit game</a>
			{% endif %}
		<button class="btn btn-dark" id="play" onclick="new_game({{gps}});" type="btn">Play Game</button>
		</div>
	</div>
{% endblock %}

{% block content%}
	<div class="start">
		<p class="start">{{ game.text }}</p>
	</div>
{% endblock%}