{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block header %}
{% if game.js %}
<head>
	<script type="text/javascript" src="{{game.js_p}}"></script>
</head>
{% endif %}
	<div class="start jumbotron light-g py-4">
		<div class="display-4 text-center">
			<p>{{ game }}</p>
			{% if user.is_authenticated and user.projector.admin %}
				<a class="btn btn-secondary" href="{% url 'edit_game' game.path %}">edit game</a>
			{% endif %}
		<button class="btn btn-secondary" id="play" onclick="new_game({{gps}});" type="btn">play game</button>
		</div>
	</div>
{% endblock %}

{% block content%}
	<div class="start">
		<p class="start game_d">{{ game.text }}</p>
	</div>
{% endblock%}