{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block title %}Games{% endblock %}

{% block header %}
	<div class="jumbotron blank py-5">
		<div class="w-100 d-inline-block m-0 p-0">
			<div class="display-4">
				<p class="text-center">GAMES</p>
				{% if user.projector.admin and user.is_authenticated %}
				<a class="btn btn-theme float-right" href="{% url 'new_game' %}">new game</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content%}
	<div class="text-center mb-2 text-theme">
		<h4>Here are a list of games!</h4>
	</div>
	{% for game in games %}
	<a class="lead" href="{% url 'game' game.path %}">
		<div class='rounded alt-btn p-2'>
			{{ game }}
	    	<p class="float-right">High Score: Moi: 100%</p>
    		<p class="float-right mr-4">Rating: 3.5/5</p>
   		</div>
   	</a>	
	{% empty %}
		There are no games
	{% endfor %}
{% endblock%}

