{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block title %}Games{% endblock %}

{% block header %}
	<div class="jumbotron blank py-5">
		<div class="w-100 d-inline-block m-0 p-0">
			<div class="display-4">
				<p class="text-center">GAMES</p>
				{% if user.projector.admin and user.is_authenticated %}
				<a class="btn btn-theme float-right" href="{% url 'new_game' %}">new game</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content%}
	<div class="text-center mb-2 text-theme">
		<h4>Here are a list of games!</h4>
	</div>
	{% for game in games %}
	<div class="my-3">
		<a class="lead" href="{% url 'game' game.path %}">
			<div class='rounded alt-btn p-2'>
				{{ game }}
				<div class="float-right">
		    	{% if game.rating %}
				{% load divide %}
				<div>Rating: {{game.rating.total|divide:game.rating.rate_count}}/5</div>
				{% else %}
				<div>No Current Rating</div>
				{% endif %}
    			</div>
   			</div>
   		</a>	
	</div>
	{% empty %}
	<p>There are no games</p>
	{% endfor %}
{% endblock%}

