{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block header %}
	<div class="jumbotron pt-4 pb-3">
		<h2>Project <a class="text-secondary ml-2" href="{% url 'project' project.id %}">{{ project }}</a></h2>
		<hr>
		{% load tz %}
		<div>
			<p class="my-1">Posted {{ post.date_added|timezone:"America/Los_Angeles"}}</p> 
		    <p class="my-1">Last Edited {{ post.date_edited|timezone:"America/Los_Angeles" }}</p>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div class="container">
	    <form action="{% url 'edit_post' post.id %}" method='post' oninput="char_count()">
    	    {% csrf_token %}
    	    {% bootstrap_form form %}
    	   	<div class="d-flex">
    	   		<button name="submit" class="btn btn-dark mr-auto">save changes</button>
    			<div class="ml-auto">
    				<div id="cc"></div>
    				<div class="float-right" id="wc"></div>
    			</div>
    		</div>
    	</form>
    	<script>
    		var limit = " / " + document.getElementById("id_text").form.text.maxLength.toString();
    		char_count();

    		function char_count() {
    			text = document.getElementById("id_text").form.text.value;
    			document.getElementById('cc').innerHTML = "Char Count: " + text.length.toString() + limit;
    			document.getElementById('wc').innerHTML = "Word Count: " + text.split(' ').length;
    		};
    	</script>
    </div>
{% endblock %}
