{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Post{% endblock %}

{% block header %}
	<div class="jumbotron blank pt-4 pb-3">
       <div class='d-block'>
            <h2 class="float-right">Project <a class="theme-link ml-2" href="{% url 'project' project.id %}">{{ project }}</a></h2>
            <h1>Edit Post</h1>
		</div>
        <hr>
		{% load tz %}
		<div>
			<div class="my-1">
                <p class="d-inline">Posted {{ post.date_added|timezone:"America/Los_Angeles"}}</p> 
                <p class="d-inline float-right">Last Edited {{ post.date_edited|timezone:"America/Los_Angeles" }}</p>
            </div>            
        </div>
	</div>
{% endblock %}
{% block content %}
    <div class="container text-theme">
	    <form action="{% url 'edit_post' post.id %}" enctype="multipart/form-data" method='post' oninput="char_count()">
    	    {% csrf_token %}
    	    {% bootstrap_form form %}
            <div class="d-inline">
                <button name="submit" class="btn btn-theme mr-auto my-3">save changes</button>
                <a href="" class="btn btn-theme mr-auto my-3" data-toggle="modal" data-target="#centerconsole">delete post</a>
                <div class="modal fade" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content blank">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDeleteProject">Confirm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-theme" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Please confirm that you would like to remove this post.    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-theme" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_post' post.id %}"><button type="button" class="btn btn-theme">Confirm</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="counter" class="float-right">
                </div>
            </div>
    	</form>
        {% load static %}
        {% if post.image %}
        <div>
            <img id="#preview" class="mw-100 mx-auto d-block rounded" src="{{ post.image.url }}" alt="No Image">
        </div>
        {% endif %}
        {% if post.image_path %}
        <div>
            <img id="#preview" class="mw-100 mx-auto d-block rounded" src="{{ post.image_p }}" alt="No Image">
        </div>
        {% else %}
        <div>
            <img id="#preview" class="mw-100 mx-auto d-block rounded" src="" alt="No Image">
        </div>
        {% endif %}
        {% if post.pdf %}
        <div>
            <iframe src="https://docs.google.com/viewer?url={{ post.pdf.url }}&embedded=true" frameborder="0" height="500px" width="100%"></iframe>
        </div>
        {% endif %}
        {% if post.pdf_path %}
        <div>
            <iframe src="https://docs.google.com/viewer?url={{ post.pdf_p }}&embedded=true" frameborder="0" height="500px" width="100%"></iframe>
        </div>
        {% endif %}
    	<script type="text/javascript" src="/static/main/base.js"></script>
    </div>
{% endblock %}
