{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block header %}
	<div class="jumbotron pt-4 pb-3">
		<h2>Edit Project <a class="text-secondary ml-2" href="{% url 'project' project.id %}">{{ project }}</a></h2>
		<hr>
		{% load tz %}
		<div>
			<p class="my-1">Created {{ project.date_added|timezone:"America/Los_Angeles"}}</p> 
		    <p class="my-1">Last Edited {{ project.date_edited|timezone:"America/Los_Angeles" }}</p>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div class="container">
	    <form action="{% url 'edit_project' project.id %}" enctype="multipart/form-data" method='post' oninput="char_count()">
    	    {% csrf_token %}
    	    {% bootstrap_form form %}
    		<div class="d-inline">
                <button name="submit" class="btn btn-dark mr-auto mt-3">save changes</button>
                <div id="counter" class="float-right">
                </div>
            </div>
    	</form>
    	<script type="text/javascript" src="/static/main/base.js"></script>
    </div>
{% endblock %}
