{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Project{% endblock %}

{% block header %}
	<div class="jumbotron c-1 pt-4 pb-3">
		<h2>Edit Project <a class="ml-2 theme-link float-right" href="{% url 'project' project.id %}">{{ project }}</a></h2>
		<hr class='text-back'>
		{% load tz %}
		<div>
			<p class="my-1">Created {{ project.date_added|timezone:"America/Los_Angeles"}}</p> 
		    <p class="my-1">Last Edited {{ project.date_edited|timezone:"America/Los_Angeles" }}</p>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div class="container card text-theme p-0">
        <div class="card-body">
    	    <form action="{% url 'edit_project' project.id %}" enctype="multipart/form-data" method='post' oninput="char_count()">
                {% csrf_token %}
                <div class="d-inline mx-auto">
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.title.errors }}
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.text.errors }}
                        {{ form.text }}
                    </div>
                    <div class="form-group form-row mb-0">
                        <div class="col">
                           {{ form.public.errors }}
                            <label for="{{ form.public.id_for_label }}">Public</label>
                            {{ form.public }}
                        </div>
                        <div class="col">
                            <div id="counter" class="d-inline mb-0"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.url.errors }}
                        {{ form.url }}
                    </div>
                    <div class="form-group custom-file">
                        {{ form.banner.errors }}
                        <label class="custom-file-label" for="{{ form.banner.id_for_label }}">Banner</label>
                        {{ form.banner }}
                    </div>
                    <div class="form-group">
                        {{ form.banner_path.errors }}
                        {{ form.banner_path }}
                    </div>
                    <button name="submit" class="btn btn-off mr-auto mt-3">save changes</button>
                    <a href="" class="btn btn-off mr-auto mt-3" data-toggle="modal" data-target="#centerconsole">delete project</a>
                    <div class="modal fade" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header c-1">
                                    <h5 class="modal-title" id="modalDeleteProject">Confirm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="text-theme" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body bg-off">
                                    Please confirm that you would like to remove this project.    
                                </div>
                                <div class="modal-footer blank">
                                    <button type="button" class="btn btn-1" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_project' project.id %}"><button type="button" class="btn btn-1">Confirm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="counter" class="float-right">
                    </div>
                </div>
    	   </form>
            {% load static %}
            {% if project.banner_path or project.banner %}
            <div>
                {% if project.banner %}
                <p>Banner size: {{project.banner.width}} x {{project.banner.height}}</p>
                {% endif %}
                <img id="preview" src="{{ project.banner_p }}" class="mw-100 d-block rounded mt-3 mx-auto" alt="No Image">
            </div>
            {% else %}
            <div>
                <img id="preview" src="" class="mw-100 d-block rounded mx-auto" alt="No Image">
            </div>
            {% endif %}
    	   <script type="text/javascript" src="/static/main/base.js"></script>
        </div>
    </div>
{% endblock %}
