{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Project{% endblock %}

{% block header %}
	<div class="jumbotron blank pt-4 pb-3">
		<h2>Edit Project <a class="ml-2 theme-link" href="{% url 'project' project.id %}">{{ project }}</a></h2>
		<hr>
		{% load tz %}
		<div>
			<p class="my-1">Created {{ project.date_added|timezone:"America/Los_Angeles"}}</p> 
		    <p class="my-1">Last Edited {{ project.date_edited|timezone:"America/Los_Angeles" }}</p>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div class="container text-theme">
	    <form action="{% url 'edit_project' project.id %}" enctype="multipart/form-data" method='post' oninput="char_count()">
    	    {% csrf_token %}
    	    {% bootstrap_form form %}
    		<div class="d-inline">
                <button name="submit" class="btn btn-theme mr-auto mt-3">save changes</button>
                <a href="" class="btn btn-theme mr-auto mt-3" data-toggle="modal" data-target="#centerconsole">delete project</a>
                <div class="modal fade" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content blank">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDeleteProject">Confirm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-theme" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Please confirm that you would like to remove this project.    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-theme" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_project' project.id %}"><button type="button" class="btn btn-theme">Confirm</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="counter" class="float-right">
                </div>
            </div>
    	</form>
        {% load static %}
        {% if project.banner_path or project.banner %}
        <div>
            <img id="preview" src="{{ project.banner_p }}" class="mw-100 d-block rounded mt-3" alt="No Image">
        </div>
        {% else %}
        <div>
            <img id="preview" src="" class="mw-100 mx-auto d-block rounded" alt="No Image">
        </div>
        {% endif %}
    	<script type="text/javascript" src="/static/main/base.js"></script>
    </div>

{% endblock %}
