{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Post{% endblock %}

{% block header %}
	<div class="jumbotron c-1 pt-4 pb-3">
       <div class='d-block'>
            <h2 class="float-right">Project -<a class="theme-link ml-2" href="{% url 'project' project.id %}">{{ project }}</a></h2>
            <h2>Edit Post</h2>
		</div>
        <hr class='text-back'>
		{% load tz %}
		<div>
			<div class="my-1">
                <p class="d-inline">Posted {{ post.date_added|timezone:"America/Los_Angeles"}}</p> 
                <p class="d-inline float-right">Last Edited {{ post.date_edited|timezone:"America/Los_Angeles" }}</p>
            </div>            
        </div>
	</div>
{% endblock %}
{% block content %}
    <div class="container card text-theme p-0">
        <div class="card-body">
    	    <form action="{% url 'edit_post' post.id %}" enctype="multipart/form-data" method='post' oninput="char_count()">
        	    {% csrf_token %}
                <div class="d-inline">
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.text.errors }}
                        {{ form.text }}
                    </div>
                   <div class="form-group form-row mb-0">
                        <div class="col col-2">
                            {{ form.public.errors }}
                            <label for="{{ form.public.id_for_label }}">Public</label>
                            <div class="mx-auto">{{ form.public }}</div>
                        </div>
                        <div class="col">
                            {{ form.project.errors }}
                            <label for="{{ form.project.id_for_label }}">Project</label>
                            {{ form.project }}
                        </div>
                        <div id="counter" class="col"></div>
                    </div>
                    <div class="form-group form-row">
                        <div class="custom-file col" style="margin-right:5px;">
                            {{ form.image.errors }}
                            <label class="custom-file-label" for="{{ form.image.id_for_label }}">Image</label>
                            {{ form.image }}
                        </div>
                        <div class="custom-file col" style="margin-left:5px;">
                            {{ form.pdf.errors }}
                            <label class="custom-file-label" for="{{ form.pdf.id_for_label }}">PDF</label>
                            {{ form.pdf }}
                        </div>
                    <div>
                    <div class="form-group form-row mt-2">
                        <div class="col">
                            {{ form.image_path.errors }}
                            {{ form.image_path }}
                        </div>
                        <div class="col">
                            {{ form.pdf_path.errors }}
                            {{ form.pdf_path }}
                        </div>
                    </div>
                    <button name="submit" class="btn btn-off mr-auto my-3">save changes</button>
                    <a href="" class="btn btn-off mr-auto my-3" data-toggle="modal" data-target="#centerconsole">delete post</a>
                    <div class="modal fade" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content blank">
                                <div class="modal-header c-1">
                                    <h5 class="modal-title" id="modalDeleteProject">Confirm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="text-theme" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body bg-off">
                                    Please confirm that you would like to remove this post.    
                                </div>
                                <div class="modal-footer blank">
                                    <button type="button" class="btn btn-1" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_post' post.id %}"><button type="button" class="btn btn-1">Confirm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	   </form>
            {% load static %}
            {% if post.image or post.image_path %}
            <div>
                {% if post.image %}
                <p>Image size: {{ post.image.width }} x {{ post.image.height }}</p>
                {% endif %}
                <img id="#preview" class="mw-100 mx-auto d-block rounded" src="{{ post.image_p }}" alt="No Image">
            </div>
            {% else %}
            <div>
                <img id="#preview" class="mw-100 mx-auto d-block rounded" src="" alt="No Image">
            </div>
            {% endif %}
            {% if post.pdf or post.pdf_path %}
            <div>
                <iframe src="https://docs.google.com/viewer?url={{request.scheme}}://{{request.get_host}}{{ post.pdf_p }}&embedded=true" frameborder="0" height="500px" width="100%"></iframe>
            </div>
            {% endif %}
    	   <script type="text/javascript" src="/static/main/base.js"></script>
        </div>
    </div>
{% endblock %}
