{% extends "main/base.html" %}

{% block content %}
<style>
  .info {
    background-color: black;
    border-radius: 50%;
    font-size: 11px;
    width:13px;
    text-align: center;
    color:white;
  }
  .popover {
    font-size: 11px;
  }

</style>
<script>  
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
<div class="jumbotron pt-4 pb-4">
	<h2 class="display-4">{% if not user.is_authenticated %}Public {% endif %}Projects</h2>
</div>
<div class="container">
	{% load tz %}
    {% for project in projects %}
      <div class="card my-3" style="border-color: #919090;">
        <div class="card-header" style="background-color:#e6e6e6;">
          <h5 class="card-title my-auto">
            <a class="text-secondary mr-2" href="{% url 'project' project.id %}">{{ project }}</a>
            <div class="float-right">
              <div class="pop" data-placement="left" title="Posts: {{ project.post_set.count }}"data-toggle="popover" data-trigger="hover" data-content="Last edited {{ project.date_edited|timezone:'America/Los_Angeles'}}">
              <div class="info">i</div></div>
            </div>
          </h5>
        </div>
        <div class="card-body">
       	  <p class="card-text">{{project.text}}</p>
       	</div>
      </div>
    {% empty %}
        <div>No projects have been added yet.</div>
    {% endfor %}
	{% if user.is_authenticated %}
	<a class="btn btn-dark" href="{% url 'new_project' %}">new project</a>
	{% endif %}
</div>
{% endblock %}
