{% extends 'main/base.html' %}

{% block content %}
    <script>  
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });

        function r() {
            document.getElementById('p-link').innerHTML = 'Projects:';
        }

        function p() {
            document.getElementById('p-link').innerHTML = 'All Projects:';
        }

    </script>
    <div class="jumbotron pt-3 pb-2">
        <h5 class='lead d-inline-block w-100'>
           <div class="d-inline">
                <a id="p-link" class="text-secondary" onmouseover="p()" onmouseleave="r()" href="{% url 'projects' project.owner.id %}">Project:</a> {{ project }} by <a href="" class="text-secondary">{{project.owner }}</a>
                {% if user.is_authenticated and request.user == project.owner %}
                <div class="d-inline ml-2">
                    <a class="text-secondary float-right ml-3" href="{% url 'new_post' project.id %}">new post</a>
                    <a class="text-secondary float-right" href="{% url 'edit_project' project.id %}">edit project</a>
                </div>
                {% endif %}
            </div>
        </h5>
    </div>
    <div class="container">
    {% load static %}
    {% for post in posts %}
    {% load tz %}
        <div class="card my-4 border-left border-right border-top-0" style="border-color: #919090;">
            <div class='card-body p-0 border-top border-dark rounded-top {% if user.is_authenticated and user.projector.admin %}{% if not post.public %} bg-warning {% endif %} bg-{% endif %}'>
                <h5 class="card-title my-auto mx-2 px-2">
                    <div class="pop-project float-right">
                        <div data-placement="left" data-toggle="popover" data-trigger="hover" data-content="Last edited {{ post.date_edited|timezone:'America/Los_Angeles'}}<br>Created {{ post.date_added|timezone:'America/Los_Angeles'}} {% if user.is_authenticated and user.projector.admin %}<br>{% if not post.public %}<p class='text-warning pb-0 mb-0'>Private</p>{% else %}<p class='text-success pb-0 mb-0'>Public</p>{% endif %}{% endif %}" data-html='true'>
                        <div class="info">i</div></div>
                    </div>
                </h5>
                <div class="px-2">
                {% if post.text %}
                    <p > {{ post.text|linebreaks|urlize }} </p>
                {% else %} 
                    <p>No text entry.</p>
                {% endif %}
                </div>
                {% if post.image %}
                <div>
                    <img class="mw-100 mx-auto d-block rounded" src="{{ post.image.url }}" alt="My image">
                </div>
                {% endif %}
            </div>
            {% if user.is_authenticated and user.projector.admin %} 
            <div class="w-100">
                <a class="btn light-g text-secondary w-50 float-right" href="{% url 'delete_post' post.id %}">delete post</a>
                <a class="btn light-g text-secondary w-50" href="{% url 'edit_post' post.id %}">edit post</a>
            </div>
            {% endif %}
        </div>
        {% empty %}
            <p>
            There are not posts.
            </p> 
        {% endfor %}
        {% if p_tot > 0 %}
        {{pnum}}
        {{p_tot}}
            <div class="text-center">
                <a class="btn light-g text-dark" href="{% url 'project' project.id %}">First</a>
                {% if pnum is not p_tot %}
                    <a class="btn light-g text-dark" href="{% url 'project' project.id pnum %}">Next</a>
               {% endif %}
                <a class="btn light-g text-dark" href="{% url 'project' project.id %}">Last</a>
            </div>
        {% endif %}
    </div>  
{% endblock %}
