<div id='project_list'>
  <div class='t-white'>
    {% load cur_range %}
    {% with c=projects|length|add:'-1' cur=page_num|cur_range:total %}
    <p class="float-right">{{cur}}{% if cur != '0' %}-{{cur|add:c}}{% endif %} of {{total}}</p>
    {% endwith %}
  </div>
  <div class="dropdown">
    <button class="nav-link btn alt-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">{{ sort }}</button>
    <div class="dropdown-menu blank" aria-labelledby="dropdownMenuButton">
      {% if sort == 'title' %}
        {% with "-title" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">-title</button></a>
        {% endwith %}
      {% else %} 
        {% with "title" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">title</button></a>
        {% endwith %}
      {% endif %}
      {% if sort == '-date_added' %}
        {% with "date_added" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">-created</button></a>
        {% endwith %}
      {% else %}
        {% with "-date_added" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">created</button></a>
        {% endwith %}
      {% endif %}
      {% if sort == '-date_edited' %}
        {% with "date_edited" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">-edited</button></a>
        {% endwith %}
      {% else %}
        {% with "-date_edited" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">edited</button></a>
        {% endwith %}
      {% endif %}
      {% if sort == "-post_num" %}
        {% with "post_num" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">-# of posts</button></a>
        {% endwith %}
      {% else %}
        {% with "-post_num" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button"># of posts</button></a>
        {% endwith %}
      {% endif %}
      {% if sort == "-public" %}
        {% with "public" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">-public</button></a>
        {% endwith %}
      {% else %}
        {% with "-public" as s %}
        <a href="{% url 'projects' public s 1 %}"><button class="dropdown-item b-link" type="button">public</button></a>
        {% endwith %}
      {% endif %}
    </div>
    <div class="text-center">
    {% if page_num > 1 %}
      <a href="{% url 'projects' public sort page_num|add:'-1' %}"><button id="prev" class="btn alt-btn">prev</button></a>
    {% endif %}
    {% if next %}
      <a href="{% url 'projects' public sort page_num|add:'1' %}"><button id="next" class="btn alt-btn">next</button></a>
    {% endif %}
    </div>
  </div>
  {% load tz %}
  {% for project in projects %}
  <div class="card my-4">
    <div class="card-header p-1">
      <h5 class="card-title">
        <div class="d-inline">
          <div class="float-left m-1">
            {% if project.url %}
            <a class="t-link" href="{{ project.url }}">{{ project }}</a>
            {% else %}
            <a class="t-link" href="{% url 'project' project.id %}">{{ project }}</a>
            {% endif %} 
          </div>
          <div class="float-right mx-1">
            <div data-placement="left" title="<span class='t-link'>Posts: {{ project.post_set.count }}</span>" data-toggle="popover" data-trigger="hover" data-content="Last edited {{ project.date_edited|timezone:'America/Los_Angeles'}}<br>Created {{ project.date_added|timezone:'America/Los_Angeles'}}<br>Created by {{ project.owner }}" data-html='true'>
              <button class="info mt-1" role="button">i</button>
            </div>
          </div>
          {% if user.is_authenticated and user.projector.admin and request.user == project.owner %}
          <div class="d-inline float-right mr-1">
            {% if project.public %}
            <p class="text-success d-inline mr-2">Public</p>
            {% else %}
            <p class="text-secondary d-inline mr-2">Private</p>
            {% endif %}
            <a class="btn alt-btn" href="{% url 'edit_project' project.id %}">edit project</a>
            <a class="btn alt-btn" href="{% url 'new_post' project.id %}">new post</a>
          </div>
          {% endif %}
        </div>
      </h5>
    </div>
    {% if project.banner or project.banner_path %}
    <div class="card-body p-0 rounded-bottom">
      <a href="{% if project.url %} {{project.url}} {% else %}{% url 'project' project.id %}{% endif %}"><img class="mw-100 d-block mx-auto {% if not project.text %}rounded-bottom{% endif %}" src="{{ project.banner_p }}" alt="My image"></a>
    </div>
    {% endif %}
    {% if project.text %}
    <div> 
      <p class="m-2 p-1">{{ project.text }}</p>
    </div>
    {% endif %}
  </div>
  {% empty %}
  <div>There is nothing here.</div>
  {% endfor %}
  <div class="text-center">
  {% if page_num > 1 %}
    <a href="{% url 'projects' public sort page_num|add:'-1' %}"><button id="prev" class="btn btn-theme">prev</button></a>
  {% endif %}
  {% if next %}
    <a href="{% url 'projects' public sort page_num|add:'1' %}"><button id="next" class="btn btn-theme">next</button></a>
  {% endif %}
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
</div>