{% extends "main/base.html" %}

{% block content %}
  <script>  
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
/*
    function sort(pj, par) {
      if (par == 'name') {
        window.alert('sort by name');
      } else if (par == 'edited') {
        window.alert('sort by edited');
      } else if (par == 'created') {
        window.alert('sort by created');
      } else if (par == 'post_num'){
        window.alert('sort by post_num');
      } else {
        window.alert(typeof(pj));
      }
    };*/
  </script>
<div class="jumbotron pt-4 pb-4">
	<h2 class="display-4">
    {% if public == 'public' %}
      All Public
    {% elif request.user.is_authenticated and request.user == public %} 
      My
    {% else %}
      {{ public }}'s Public
    {% endif %} Projects
  </h2>
</div>
<div class="container">
  {% load tz %}
    <!--<div class="dropdown btn light-g p-0">
      <a class="nav-link dropdown-toggle text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">sort by</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-dark" type="button" onclick="sort('{{ projects }}', 'name')">name</a>
        <a class="dropdown-item text-dark" type="button" onclick="sort('{{ projects }}', 'created')">created</a>
        <a class="dropdown-item text-dark" type="button" onclick="sort('{{ projects }}', 'edited')">edited</a>
        <a class="dropdown-item text-dark" type="button" onclick="sort('{{ projects }}', 'post_num')"># of posts</a>
        <a class="dropdown-item text-dark" type="button" onclick="sort('{{ projects }}')">queryset</a>
      </div>
    </div>-->
  {% for project in projects %}
  <div class="card my-3" style="border-color: #919090;">
    <div class="card-header light-g p-1">
      <h5 class="card-title">
        <div class="d-inline">
          <div class="float-left project">
            <a class="text-secondary mr-2" href="{% url 'project' project.id %}">{{ project }}</a>
          </div>
          <div class="float-right my-1">
            <div class="pop-projects" data-placement="left" title="Posts: {{ project.post_set.count }}" data-toggle="popover" data-trigger="hover" data-content="Last edited {{ project.date_edited|timezone:'America/Los_Angeles'}}<br>Created {{ project.date_added|timezone:'America/Los_Angeles'}}<br>Created by {{ project.owner }}" data-html='true'>
              <div class="info">i</div>
            </div>
          </div>
          {% if user.is_authenticated and user.projector.admin and request.user == project.owner %}
          <div class="d-inline float-right mr-3">
            {% if project.public %}
            <p class="d-inline text-success">Public</p>
            {% else %}
            <p class="d-inline text-secondary">Private</p>
            {% endif %}
            <a class="btn bg-light text-secondary ml-3 my-1" href="{% url 'edit_project' project.id %}">edit project</a>
          </div>
          {% endif %}
        </div>
      </h5>
    </div>
    <div class="card-body">
    {% if project.text %}
      <p class="card-text">{{ project.text }}</p>
    {% else %}
      <p>No text entry</p>
    {% endif %}
    </div>
  </div>
  {% empty %}
  <div>No projects have been added yet.</div>
  {% endfor %}
  {% if user.is_authenticated and user.projector.admin and request.user == projects.owner %}
  <a class="btn btn-dark" href="{% url 'new_project' %}">new project</a>
  {% endif %}
</div>
{% endblock %}
