<div class="pagination d-flex justify-content-center">
  <span class="step-links">
  {% if projects.has_previous %}
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page=1&{% if sort %}sort={{sort}}{% endif %}">&laquo; first</a>
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}">previous</a>
  {% endif %}
  {% if projects.has_next %}
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.next_page_number }}{% if sort %}&sort={{sort}}{% endif %}">next</a>
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.paginator.num_pages }}{% if sort %}&sort={{sort}}{% endif %}">last &raquo;</a>
  {% endif %}
  </span>
</div>
<p class='text-theme float-right'>
Page {{projects.number}} of {{projects.paginator.num_pages}}
</p>
<div id='project_list'>
  <div class="dropdown">
    {% load deslug clean %}
    <button class="nav-link btn btn-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">{% if '-' in sort %}-{% endif %}{{ sort|clean }}</button>
    <div class="dropdown-menu bg-off" aria-labelledby="dropdownMenuButton">
      {% for option in sort_options %}
        <a href="{% if user %}{% url 'projects' user.username %}{% endif %}?sort={% if sort in option %}-{% endif %}{{option|deslug}}"><button class="dropdown-item" type="button">{% if sort in option %}-{% endif %}{{option|clean}}</button></a>
      {% empty %}
      {% endfor %}
    </div>
  </div>
  {% load tz %}
  {% for project in projects %}
  <div class="card my-4">
    <div class="card-header p-1 {% if not project.text %}rounded-bottom{% endif %}">
      <h5 class="card-title">
        <div class="d-inline">
          <div class="float-left my-1">
            {% if project.url %}
            <a class="t-link ml-2" href="{{ project.url }}">{{ project }}</a>
            {% else %}
            <a class="t-link ml-2" href="{% url 'project' project.id %}">{{ project }}</a>
            {% endif %} 
          </div>
          <div class="float-right mx-1">
            <div data-placement="left" title="<span class='t-link'>Posts: {{ project.post_set.count }}</span>" data-toggle="popover" data-trigger="hover" data-content="Last edited {{ project.date_edited|timezone:'America/Los_Angeles'}}<br>Created {{ project.date_added|timezone:'America/Los_Angeles'}}<br>Created by {{ project.owner }}" data-html='true'>
              <i class="bi-info-circle" role="button"></i>
            </div>
          </div>
          {% if user.is_authenticated and user.projector.admin and request.user == project.owner %}
          <div class="d-inline float-right mr-1">
            {% if project.public %}
            <p class="text-success d-inline mr-2">Public</p>
            {% else %}
            <p class="text-warning d-inline mr-2">Private</p>
            {% endif %}
            <a class="btn alt-btn" href="{% url 'edit_project' project.id %}">edit project</a>
            <a class="btn alt-btn" href="{% url 'new_post' project.id %}">new post</a>
          </div>
          {% endif %}
        </div>
      </h5>
    </div>
    <div class="card-body p-0">
    {% if project.banner %}
      <a href="{% url 'project' project.id %}"><img class="d-block mw-100 mx-auto" src="{{ project.banner.url }}" alt="My image"></a>
    {% endif %}
    {% if project.text %}
      <p class="m-2 p-1">{{ project.text|safe }}</p>
    {% endif %}
    </div>
  </div>
  {% empty %}
  <div>There is nothing here.</div>
  {% endfor %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
</div>
<div class="pagination d-flex justify-content-center">
  <span class="step-links">
  {% if projects.has_previous %}
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page=1&{% if sort %}sort={{sort}}{% endif %}">&laquo; first</a>
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}">previous</a>
  {% endif %}
  {% if projects.has_next %}
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.next_page_number }}{% if sort %}&sort={{sort}}{% endif %}">next</a>
    <a class="btn btn-sm btn-dark" href="{% if user %}{% url 'projects' user.username %}{% endif %}?page={{ projects.paginator.num_pages }}{% if sort %}&sort={{sort}}{% endif %}">last &raquo;</a>
  {% endif %}
  </span>
</div>