{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block title %}
Account
{% endblock %}

{% block header %}
<div class="jumbotron c-1">
	<h1>{{ username }}</h1>
	{% load tz %}
	{% timezone "US/Pacific" %}
	<h5>Date Joined: {{ date_joined }}</h5>
	{% endtimezone %}
</div>
{% endblock %}

{% block content %}
<div class="messages list-group">
{% if messages %}
	{% for message in messages %}
		<div class="list-group-item {% if message.tags %} bg-{{ message.tags }}{% endif %}">{{ message }}</div>
	{% endfor %}
{% endif %}
</div>
<div class="card">
	<div class="card-body">
		<div class="pb-4">
			<p class="d-inline">Projects: {{ project_tot }}</p>
			<p class="d-inline float-right">Posts: {{ post_tot }}</p>
		</div>
		{% if request.user.is_authenticated and request.user.username == username %}
		<div>
			<a class="btn btn-off mb-2" href="{% url 'edit_account' request.user.username %}">change username</a>
			<a class="btn btn-off mb-2" href="{% url 'password_change' %}">change password</a>
		</div>
		<a class="btn btn-off" href="{% url 'new_page' %}">New Page</a>
		{% endif %}
	</div>
</div>
<a>
	<h4>Pages</h4>
	<hr class="bg-light">
	{% for page in pages %}
	<a href="{% url 'page' page.slug_url  %}">{{ page }}</a>
	<a href="{% url 'edit_page' page.id %}">Edit Page</a>
	{% if not forloop.last %}
	<hr class="bg-off">
	{% endif %}
	{% empty %}
	<p>There is nothing here.</p>
	{% endfor %}
</div>
{% endblock %}
