{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block title %}
Account
{% endblock %}

{% block header %}
<div class="jumbotron c-1">
	<h1>{{ username }}</h1>
	{% load tz %}
	{% timezone "US/Pacific" %}
	<h5>Date Joined: {{ date_joined }}</h5>
	{% endtimezone %}
</div>
{% if message %}
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="pb-4">
			<p class="d-inline">Projects: {{ project_tot }}</p>
			<p class="d-inline float-right">Posts: {{ post_tot }}</p>
		</div>
		{% if request.user.is_authenticated and request.user.username == username %}
		<div>
			<a class="btn btn-off mb-2" href="{% url 'edit_account' request.user.username %}">change username</a>
			<a class="btn btn-off mb-2" href="{% url 'password_change' %}">change password</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
