{% extends "main/base.html" %}
{% load bootstrap4%}

{% block title %}
Change Password
{% endblock %}

{% block header %}
	<h1>Change Password</h1>
{% endblock %}

{% block content %}
 <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-theme">update password</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index' %}"/>
</form>
{% endblock %}
