{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style>
			html, body {
				height:100%;
			}

			footer a:link {
				color: white;
			}

			footer a:visited {
				color:white;
			}

			footer a:hover {
			}
			footer a:active {
				color:blue;
			}

			footer a {
				text-align: center;
				height:100%;
				padding: 2% 0;
			}

			.jumbotron {
				border:black 1px solid;
			}

			footer {
				width:100%;
				display:flex;
				justify-content: space-around;
				color:red;
				background-color: #696969;
				border-top:2px black solid;
			}

		</style>
    </head>
	<body>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
 		  	<a class="navbar-brand" href="{% url 'index' %}">Home</a>
 		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 		  		<span class="navbar-toggler-icon"></span>
 		  	</button>

 		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
 		  		<ul class="navbar-nav mr-auto">
    				<li class="nav-item active">
	    				<a class="nav-link" href="{% url 'projects' %}">Projects</a>
	    			</li>
    				{% if user.is_authenticated %}
    				<li class="nav-item">
    					<a class="nav-link" href="{% url 'logout' %}">Log out</a>
    				</li>
    				{% else %}
    				<li class="nav-item">
	    				<a class="nav-link" href="{% url 'login' %}">Login</a>
    				</li>
    				<li class="nav-item">
	    				<a class="nav-link" href="{% url 'register' %}">Register</a>
	    			</li>
    				{% endif %}
    				<li class="nav-item">
	    				<a class="nav-link" href="{% url 'about' %}">About</a>
	    			</li>
    			</ul>
    		</div>
    	</nav>
    	<div class="container my-5">
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>
			<div>
				{% block content %}{% endblock %}
			</div>
		</div>
		<footer>
			<a href="">Link1</a>
			<a href="">Link2</a>
			<a href="">Link3</a>
			<a href=''>Link4</a>
		</footer>
	</body>
</html>