{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/favicon_io/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/favicon_io/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/favicon_io/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'main/favicon_io/site.webmanifest' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/basestyle.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="main-container">
			<nav class='navbar navbar-expand-lg navbar-dark sticky-top'>
 		  		<a class="navbar-brand" href="{% url 'main:index' %}">Home</a>
 		  		<button class="navbar-toggler bg-transparent" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 		  		<span class="navbar-toggler-icon"></span>
 		  		</button>
 		  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
 		  			<ul class="navbar-nav mt-0 w-100">
    					<li class="nav-item {% if nbar == 'project' %} active {% endif %}">
	    					{% if request.user.is_authenticated and request.user.projector.admin %}
	    					<hr class="d-lg-none py-0 my-0 light-g">
	    					<div class="dropdown">
		    					<a class="btn text-left nav-link mx-auto dropdown-toggle{% if nbar == 'project' or nbar == 'public' or nbar == 'private' or nbar == 'new_project' %} active {% endif %} rounded" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Projects</a>
	    						<div class="dropdown-menu text-center bg-transparent border-0 py-0 my-0">
	    							<hr class="d-lg-none py-0 my-0 light-g">
	    							<br class="d-none d-lg-inline my-0 py-0">
		    						<a class="nav-link text-left dropdown-item rounded mx-auto {% if nbar == 'private' %} active {% endif %}" role="button" href="{% url 'projects' request.user %}">My Projects</a>
	    							<hr class="d-lg-none py-0 my-0 light-g">
		    						<a class="nav-link text-left dropdown-item rounded mx-auto {% if nbar == 'public' %} active {% endif %}" role="button" href="{% url 'projects' 'public' %}">Public Projects</a>
	    							<hr class="d-lg-none py-0 my-0 light-g">
	    							<a class="nav-link text-left dropdown-item rounded mx-auto {% if nbar == 'new_project' %} active {% endif %}" role="button" href="{% url 'new_project' %}">New Project +</a>
	    						</div>
	    					</div>
	    					{% else %}
	    					<a class="nav-link {% if nbar == 'public' %} active {% endif %}" href="{% url 'geography:projects' 'public' %}">Public Projects</a>
	    					{% endif %}
	    					<hr class="d-lg-none py-0 my-0">
	    				</li>
    					<li class="nav-item">
	    					<a class="nav-link text-left mx-auto {% if nbar == 'games' %} active {% endif %}" href="{% url 'games:games' %}">Games</a>
	    					<hr class="d-lg-none py-0 my-0">
	    				</li>
    					<li class="nav-item">
	    					<a class="nav-link text-left mx-auto {% if nbar == 'about' %} active {% endif %}" href="{% url 'main:about' %}">About</a>
	    					<hr class="d-lg-none py-0 my-0">
	    				</li>
	    				{% if request.user.is_authenticated %}
	    				<li class="nav-item">
    						<a class="nav-link text-left mx-auto {% if nbar == 'account' %} active {% endif %}" href="{% url 'users:account' request.user.username %}">Account</a>
    					</li>
    					<li class="nav-item">
    						<a class="nav-link text-left mx-auto " href="{% url 'users:logout' %}">Log out</a>
    					</li>
    					{% else %}
    					<li class="nav-item">
	    					<a class="nav-link {% if not nbar %}active{% endif %} text-left mx-auto " href="{% url 'users:login' %}">Login</a>
	    					<hr class="d-lg-none py-0 my-0">
    					</li>
    					<li class="nav-item">
	    					<a class="nav-link {% if nbar == 'register' %} active {% endif %} text-left mx-auto " href="{% url 'users:register' %}">Register</a>
	    				</li>
    					{% endif %}
    					<li class="nav-item ml-lg-auto mr-lg-2 search">
    						<hr class="d-lg-none py-0 mt-0 mb-1">
    						<form action="{% url 'geography:search_results' %}" method='get'>
		    					<div class="form-row">
		    						<div class='col pr-0'>
			    						<input name="q" class="form-control blank" type="search" placeholder="Search" aria-label="Search">
									</div>
		    						<div class='mr-1 search-b'>
		    							<button class="btn btn-blank" type="submit"><i class="fa fa-search"></i></button>
									</div>
								</div>
    						</form>
    					</li>
    				</ul>
    			</div>
    		</nav>
    		<div class="scope">
				<div class="page-header">
					{% block header %}{% endblock %}
				</div>
				<div id="main-view" class="content">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div class="footer">
				<footer>
					<a href="https://instagram.com"><img src="{% static 'main/logo/whiteinsta.png' %}" alt='linked' class="mh-100 p-0 m-0"></a>
					<a href="https://github.com/M-Aguilar"><img src="{% static 'main/logo/GitHub-Mark-Light-64px.png' %}" alt='github' class="mh-100 py-1"></a>
					<a href="https://www.linkedin.com/in/moises-a-aguilar/"><img src="{% static 'main/logo/In-White-96.png' %}"alt='insta' class="mh-100 py-1"></a>
					<a href='' class='mh-100 py-1'>other</a>
				</footer>
			</div>
		</div>	
	</body>
</html>
