{% extends "main/base.html" %}

{% block title %}Edit {{ page }}{% endblock %}

{% block header %}
<div class="jumbotron c-1 pt-4 pb-3">
    <h1 class="text-center display-4">Edit {{page}}</h1>
</div>
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div>
    <button class="btn btn-1 float-right" data-toggle="modal" data-target="#centerconsole"><i class="bi-trash mr-1"></i></button>
</div>
<div class="modal" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header c-1">
				<h5 class="modal-title" id="modalDeleteImage">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body bg-off">
				Please confirm that you would like to remove this image.
        	</div>
        	<div class="modal-footer blank">
        		<button type="button" class="btn btn-1" data-dismiss="modal">Cancel</button>
        		<a href="{% url 'delete_page' page.id %}" class="btn btn-1 bg-danger">Confirm</a>
        	</div>
    	</div>
	</div>
</div>
<div class="container">
    <form action="{% url 'edit_page' page.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-off mt-3" name="submit">Submit</button>
    </form>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'main/edit_page.js' %}"></script>
{% endblock %}