{% extends "main/base.html" %}

{% block title %}M.Aguilar{% endblock %}
{% block header %}
<div class="row mx-1 justify-content-center justify-content-sm-end">
  <div class="col-12 col-sm-auto messages list-group pr-0 pr-sm-2">
      {% if messages %}
          {% for message in messages %}
          <div class="message text-light list-group-item pb-2 {% if message.tags %}bg-{{ message.tags }}{% endif %}">{{ message }}<i class='bi-x float-right btn btn-sm' onclick="hidemessage()"></i></div>
          {% endfor %}
      {% endif %}
  </div>
  <div class='c-1 rounded mb-3 mt-1 mt-sm-0 py-3 col-12 col-sm-6 col-xl-3'>
    <div class="text-center">
      <div id="time" class="text-center"></div> 
      {% load static %}
      <script type="text/javascript" src="{% static 'main/time.js' %}" onload="curTime()"></script>
      {% load tz %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="intro rounded-top">
	<div class="row mx-1">
    <div class="c-1 rounded pt-2 col-auto mx-auto mt-4">
      <h3 class="text-center">Recent Projects</h3>
    </div>
    <div class="col-12 mx-auto">
      <div id="carouselExampleControls" class="carousel slide my-5 mx-0" data-ride="carousel">
        <div class="carousel-inner">
          {% with projects|first as fb %}
          {% for project in projects %}
            {% if project is fb %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            {% if project.url %}
            <a href="{{ project.url }}"><img class="d-block text-center mx-auto mw-100 rounded" src="{{ project.banner.url }}" alt="image"></a>
            {% else %}
            <a href="{% url 'project' project.id %}"><img class="d-block text-center mx-auto mw-100 rounded" src="{{ project.banner.url }}" alt="image"></a>
            {% endif %}
            </div>
          {% empty %}
            <p>Oh what a sad day. Nothing to see here. </p>
          {% endfor %}
          {% endwith %}
        </div>
        <a class="carousel-control-prev"  href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="intro rounded-bottom">
  <div>
  {% include "main/wave-haikei.svg" %}
  </div>
  <div class="card-body c-1 index-text border-0 pt-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5><a class="t-link" href="{% url 'projects' %}">Projects <i class="bi-journals float-right"></i></a></h5>
        <hr class="bg-off">
        <p>Various projects are showcased here. From academic accomplishments to personal successes. 
        Check out the <a href="{% url 'about' %}">about</a> page for more information related to the development and hosting of this site.
        Feel free to reach out via <a href="mailto:support@magullar.com">email</a> for any other questions or concerns.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Disclaimer <i class="bi-info-circle float-right"></i></h5>
        <hr class="bg-off">
        <p>While you are allowed to make an account there is no additional functionality provided. 
        Viewing <a href="{% url 'projects' %}">public projects</a> and playing <a href="{% url 'games' %}">games</a> do not require you to login.
        So don't work about it and enjoy the site. 👍
        </p>
      </div>
    </div>
  </div>
  <div class="svg-1">
  {% include 'main/layered-waves-haikei.svg' %}
  </div>
  <div class="card-body back-dark">
    <div class="row">
      <h3 class="text-center mb-4 c-1 rounded col-auto mx-auto py-2"><a class="t-link" href="{% url 'games' %}">Games <i class="bi-joystick"></i></a></h3>
    </div>
    <hr class="bg-off">
    <div class="row">
      <div id="flags" class="col-12 col-md-6">
        <h5><a href="{% url 'game' 'flag_game' %}" class="t-link">Flag Game</a> <i class="bi-flag float-right"></i></h5>
        <hr class="bg-off">
        <p class="game-p">How well do you know the flags of the world? This quiz might help you... for now. 
        </p>
        <div class="row justify-content-between flags-top">
          <div class="col-4">{% include "games/flag_svgs/1f1e6-1f1f7.svg.html" %}</div>
          <div class="col-4">{% include "games/flag_svgs/1f1fa-1f1f8.svg.html" %}</div>
        </div>
        <div class="row justify-content-center flags-middle">
          <div class="col-4" style="transform: skewY(-15deg);">{% include "games/flag_svgs/1f1e9-1f1ea.svg.html" %}</div>
        </div>
        <div class="row justify-content-between flags-bottom">
          <div class="col-4">{% include "games/flag_svgs/1f1f5-1f1ed.svg.html" %}</div>
          <div class="col-4">{% include "games/flag_svgs/1f1f7-1f1fc.svg.html" %}</div>
        </div>
      </div>
      <div id="map" class="col-12 col-md-6">
        <h5><a href="{% url 'game' 'map_quiz' %}" class="t-link">Map Quiz </a><i class="bi-map float-right"></i></h5>
        <hr class="bg-off">
        <p class="game-p">How well do you know the countries and territories of the world? Test your skills with the map quiz.
        </p>
        <div class="row map-top">
          <div class="col-4">
            <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
              <rect x="0" y="0" fill="#001220"></rect>
            </svg>
          </div>
        </div>
        <div class="map-svg position-absolute">
          {% include "main/Map.svg" %}
        </div>
        <div class="row map-middle">
          <div class="col-4" style="transform: skewY(15deg);">
              <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <rect x="0" y="0" fill="#001220"></rect>
            </svg>
          </div>
        </div>
        <div class="row map-bottom">
          <div class="col-4">
            <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <rect x="0" y="0" fill="#001220"></rect>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-2" style="margin-bottom:-5%;">
  {% include 'main/layered-waves-haikei.svg' %}
  </div>
  <div class="card-body c-1 index-text border-0 pt-5 mt-3">
   <div class="row">
      <div class="col-12 col-md-6">
        <h5>Home Helper <i class="bi-house-door float-right"></i></h5>
        <hr class="bg-off">
        <p>One of the projects in development is Home Helper. This Django app is meant to help keep track of tasks and chores.
        This hub is designed to consolidate a lot of the regular everyday necessities without overcomplicating the process. Apart from keeping track of 
        tasks completed and offering feedback, it will also manage inventories helping keep track of those itmes you know you have, but don't know exactly where
        they are. Keeping track of food is also a often cumbersome endeavor. Development will eventually bring about recipe importing and management. Keep track of the 
        meals you have prepared and keep track of tips and tricks for future attempts. The current state of the project can be viewed on github.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Other Projects <i class="bi-journal-plus float-right"></i></h5>
        <hr class="bg-off">
        <p>There are many different project that I am going to eventually build and display on this site. Continually gaining knowledge about the tools available 
        brings about the issue of reimagining previous accomplishents. This site is an example as it is continually changing in order to keep up with what I have
        learned, Other projects to come are a blog available to anyone who desires to join, fake news site, and a fake online shop. If you have any other ideas let me know.
        </p>
      </div>
    </div>
  </div>
  <div class="svg-2">
  {% include "main/wave-haikei.svg" %}
  </div>
</div>
<div>
  <p></p>
  <hr class='text-back'>
  <p></p>
</div>
<script>
$(function() {setTimeout(hidemessage, 10000)})
function hidemessage() {
  $('.messages').empty()
}

const observer = new IntersectionObserver (entries => {
  entries.forEach(entry => {
    // If the element is visible
  if (entry.isIntersecting) {
      let flags = $("#flags svg")
      flags.each(function(index) {
        flags[index].classList.add("svg-animation")
      })
      var a = setTimeout(showmap, 1500)
    }
  })
});

function showmap() {
  $("#map-svg")[0].classList.remove('d-none')
  $("#map-svg")[0].classList.add("svg-animation");
}

observer.observe(document.querySelector('#flags'));
</script>
{% if not recent_visit %}
<style>
nav, div {
	animation: slidein 4s;
}
</style>
{% endif %}
{% endblock %}